@CHARSET "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	color: #444;
	font:12px/1.125 Arial,Helvetica,sans-serif;_font-family:"SimSun";
}
body{
	background:url(../images/body_bg.jpg) no-repeat fixed;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color:#0a8cd2;
}
img {
	border:none;
}
table {
	border-collapse: collapse;
}
input,textarea,select,button{
	outline:none;
}