<div id="bottom">
	<div class="link">
		<dl>
			<dt>微博练习</dt>
			<dd>
				<a href="#">java教程</a>
			</dd>
			<dd>
				<a href="#">.net教程</a>
			</dd>
			<dd>
				<a href="#">js教程</a>
			</dd>
		</dl>
	</div>
	<div id="copy">
		<div>
			<p> All rights reserved,
				houdunwang.com services for Beijing 2008-2012</p>
		</div>
	</div>
</div>
</body>
</html>
